.pageContainer {
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}
