.navbar {
  background: #0e1a40;
  padding: 15px 20px;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.25s;
}

.link:hover {
  opacity: 0.7;
}

