.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #222;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.navLinks a:hover {
  color: white;
}
